
/* Users Section Start */
#users {
  .usersThumbnail {
    width: 50px;
  }
}

#friends {
  .usersThumbnail {
    width: 50px;
  }
}

#notifications {
  min-width: 300px !important;
}
/* Users Section End */